<p>
	<strong>Title : </strong>
	<%= @article.title %>
</p>

<p>
	<strong>Text : </strong>
	<%= @article.text %>
</p>

<h2>Comments</h2>

<% @article.comments.each do |comment| %>

  <p>
  	<b>Commenter : </b>
  	<%= comment.commenter %>
  </p>

  <p>
  	<b>Comment : </b>
  	<%= comment.body %>
  </p>

  <p>
  	<%= link_to 'Delete Comment', [comment.article,comment], method: :delete, data: {confirm: 'Are you sure?'} %>
  </p>

 <% end %>

<h2>Add a comment</h2>

<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>

	<p>
		<%= form.label :commenter %> <br>
		<%= form.text_field :commenter %> <br>

		<%= form.label :body %> <br>
		<%= form.text_area :body %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>

<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>